<aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                  <router-link class="nav-link" to="/home">
                        <i class="bi bi-grid"></i>
                        <span>Home</span>
                  </router-link>
            </li>
            <li class="nav-item">
                  <router-link class="nav-link collapsed" to="/customer-type">
                        <i class="bi bi-person"></i>
                        <span>Customer Type</span>
                  </router-link>
            </li>
            <li class="nav-item">
                  <router-link class="nav-link collapsed" to="/customer">
                        <i class="bi bi-person"></i>
                        <span>Customers</span>
                  </router-link>
            </li>
            <li class="nav-item">
                  <router-link class="nav-link collapsed" to="/loan">
                        <i class="bi bi-bank"></i>
                        <span>Loan</span>
                  </router-link>
            </li>
            <li class="nav-item">
                  <router-link class="nav-link collapsed" to="/summary-loan">
                        <i class="bi bi-card-list"></i>
                        <span>Summary Loan</span>
                  </router-link>
            </li>
      </ul>
</aside>
