<Loading :loading="isLoading" ></Loading>

<div class="pagetitle">
      <h1>Dashboard</h1>
      <nav class="mt-3">
            <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                        <router-link to="/home">Home</router-link>
                  </li>
                  <li class="breadcrumb-item">
                        <a>Customer Type</a>
                  </li>
            </ol>
      </nav>
</div>
<div class="row">
      <div class="col-lg-12 mt-3 mb-3 text-end">
            <button type="button" class="btn btn-primary px-4" @click="register">
                  <i class="bi bi-plus-circle"></i> Create
            </button>
      </div>
</div>
<div class="row">
      <div class="col-lg-12">
            <div class="card">
                  <div class="card-body">
                        <h5 class="card-title">Customer Type List</h5>
                        <table class="table datatable">
                              <thead>
                                    <tr>
                                          <th scope="col" v-for="(item,index) in headers" :key="index">{{item.label}}</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    <tr v-for="(item, index) in customerTypeList" :key="index">
                                          <th scope="row">{{index + 1}}</th>
                                          <td>{{ item.customerTypeName }}</td>
                                          <td>{{ item.customerTyperRate }}</td>
                                          <td>{{ item.customerTypeDes }}</td>
                                          <td>
                                                <button :hidden="item.id === 1" type="button" class="btn btn-info mx-2" @click="handleEdit(item.id)">
                                                      <i class="bx bx-edit"></i>
                                                </button>
                                                <!-- <button :hidden="item.id === 1" type="button" class="btn btn-danger" @click="handleDelete(item.id)">
                                                      <i class="bx bxs-trash"></i>
                                                </button> -->
                                          </td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>
            </div>
      </div>
</div>
