<div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                  <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                              <div class="d-flex justify-content-center py-4">
                                    <a href="" class="logo d-flex align-items-center w-auto">
                                          <img src="../../../assets/img/main-logo.jpg" alt="">
                                          <span class="d-none d-lg-block">Loan System</span>
                                    </a>
                              </div>
                              <div class="card mb-3">
                                    <div class="card-body">
                                          <div class="pt-4 pb-2">
                                                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                          </div>
                                          <form @submit.prevent="handleLogin">
                                            <div class="row">
                                                <div class="col-12">
                                                      <label for="username" class="form-label">Username</label>
                                                      <input type="text" v-model="loginForm.name" class="form-control" id="username" required>
                                                </div>
                                                <div class="col-12">
                                                      <label for="password" class="form-label">Password</label>
                                                      <input type="password" v-model="loginForm.password" class="form-control" id="password" required>
                                                </div>
                                          </div>
                                          <div class="row mt-5">
                                                <div class="col-12">
                                                      <button type="submit" class="btn btn-primary w-100 btnLogin" :class="isLoading ? `disabled` : ''">
                                                            <span :class="isLoading ? `loader` : ''"></span>
                                                            Login
                                                      </button>
                                                </div>
                                          </div>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
</div>
