<div class="profile">
      <div class="row">
            <div class="col-xl-4">
                  <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                              <div class="row" style="width: 100%;">
                                    <div class="small-12 large-4 columns">
                                          <div class="containers">
                                                <div class="imageWrapper">
                                                      <img v-if="fileInfo.image != ''" class="image" :src="fileInfo.image">
                                                      <img v-else class="image" :src="companyInfo.companyProfileImage">
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <h2>{{ comapanyName }}</h2>
                        </div>
                  </div>
            </div>

            <div class="col-xl-8">
                  <div class="card">
                        <div class="card-body pt-3">
                              <ul class="nav nav-tabs nav-tabs-bordered">
                                    <li class="nav-item">
                                          <button class="nav-link active" data-bs-toggle="tab"
                                                data-bs-target="#profile-overview">
                                                Overview
                                          </button>
                                    </li>

                                    <li class="nav-item">
                                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                                Edit Profile
                                          </button>
                                    </li>
                              </ul>
                              <div class="tab-content pt-2">
                                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                          <h5 class="card-title">Profile Details</h5>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">
                                                      Company Name
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                      {{ comapanyName }}
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">
                                                      Company Phone
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                      {{ companyInfo.companyProfilePhone }}
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">
                                                      {{ companyInfo.companyProfileEmail }}
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">
                                                      Address
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                      {{ companyInfo.companyProfileAddress }}
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">
                                                      Company Wifi
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                      {{ companyInfo.companyProfileWifi }}
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">{{ companyInfo.companyProfileEmail }}
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Address</div>
                                                <div class="col-lg-9 col-md-8">{{ companyInfo.companyProfileAddress }}
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Company Wifi</div>
                                                <div class="col-lg-9 col-md-8">{{ companyInfo.companyProfileWifi }}
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Company Set Up Point</div>
                                                <div class="col-lg-9 col-md-8">{{ companyInfo.companyProfileSetUpPoint
                                                      }}</div>
                                          </div>

                                    </div>

                                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                          <div class="row mb-3">
                                                <label for="profileImage"
                                                      class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                                <div class="col-md-8 col-lg-9">
                                                      <div class="small-12 large-4 columns">
                                                            <button class="file-upload">
                                                                  <input type="file" :v-model="fileInfo.image" @change="handleUploadImage($event)" class="file-input">Choose File
                                                            </button>
                                                      </div>
                                                </div>
                                          </div>

                                          <div class="row mb-3">
                                                <label for="company_name"
                                                      class="col-md-4 col-lg-3 col-form-label">Company Name</label>
                                                <div class="col-md-8 col-lg-9">
                                                      <input type="text" v-model="companyInfo.companyProfileName"
                                                            class="form-control" id="company_name">
                                                </div>
                                          </div>

                                          <div class="row mb-3">
                                                <label for="company_phone"
                                                      class="col-md-4 col-lg-3 col-form-label">Company Phone</label>
                                                <div class="col-md-8 col-lg-9">
                                                      <input type="text" v-model="companyInfo.companyProfilePhone"
                                                            class="form-control" id="company_phone">
                                                </div>
                                          </div>

                                          <div class="row mb-3">
                                                <label for="company_email"
                                                      class="col-md-4 col-lg-3 col-form-label">Company Email</label>
                                                <div class="col-md-8 col-lg-9">
                                                      <input type="text" v-model="companyInfo.companyProfileEmail"
                                                            class="form-control" id="company_email">
                                                </div>
                                          </div>

                                          <div class="row mb-3">
                                                <label for="company_address"
                                                      class="col-md-4 col-lg-3 col-form-label">Company Address</label>
                                                <div class="col-md-8 col-lg-9">
                                                      <input type="text" v-model="companyInfo.companyProfileAddress"
                                                            class="form-control" id="company_address">
                                                </div>
                                          </div>

                                          <div class="row mb-3">
                                                <label for="company_wifi"
                                                      class="col-md-4 col-lg-3 col-form-label">Company Wifi</label>
                                                <div class="col-md-8 col-lg-9">
                                                      <input type="text" v-model="companyInfo.companyProfileWifi"
                                                            class="form-control" id="company_wifi">
                                                </div>
                                          </div>

                                          <div class="row mb-3">
                                                <label for="company_set_up_point"
                                                      class="col-md-4 col-lg-3 col-form-label">Company Set Up
                                                      Point</label>
                                                <div class="col-md-8 col-lg-9">
                                                      <input type="text" v-model="companyInfo.companyProfileSetUpPoint"
                                                            class="form-control" id="company_set_up_point">
                                                </div>
                                          </div>

                                          <div class="text-center">
                                                <button type="submit" class="btn btn-dark py-2 px-5"
                                                      @click="handleSave">Save</button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>