<div class="row">
      <div class="col-lg-12">
            <div class="card">
                  <div class="card-body p-5">
                        <div class="row mb-4">
                              <div class="row mb-4">
                                    <div class="col-lg-12">
                                          <label for="customerTypeRate" class="form-label">Customer Type Rate <span class="text-danger">*</span></label>
                                          <input type="number" class="form-control" id="customerTypeRate" placeholder="Enter rate">
                                          <div class="invalid mb-2">Customer type rate is require</div>
                                    </div>
                              </div>
      </div>
            </div>
                  </div>
                        </div>
</div>
